/**
** Imports
**/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/**
** Variables and maps
**/

$bluelight: #2893ff;
$bluedark: #728391;
$bluebrand: #0060c1; 
$bluebevel: #0e3459;
$bluegoal: #0063be;

$goalcolors: (
	#0063be,
	#66bc2d,
	#dd6000,
	#dc291e,
	#485dc5,
	#00aeef
	);


//Remove firefox ul/li bullet points
ul {
	list-style: none;
}

/** ------------------------
**  HEADER
**/
body {
	font-family: 'Open Sans', sans-serif;
	height: 1500px;
}

.header {
background: #fff;
position: relative;
z-index: 5;
.header-row {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.logo-wrapper {
	width: 183px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 0;
	a {
		background-image: url("../../assets/images/logo.gif");
		background-size: cover;
		display: inline-block;
		height: 36px;
		width: 183px;
	}
}
.content-wrapper {
	float: right;
	margin-top: 24px;
	margin-bottom: 24px;
	ul {
		text-align: right;
		float: right;
		transform: translateY(50%);
	}
	li {
		display: inline-block;
		padding: 0 3px 0 6px;
		border-left: 1px solid $bluedark;
		a {
			font-size: 0.9em;
			&:hover {
			text-decoration: none;
			color: $bluelight;
			}
			.df-flag {
				position: absolute;
				top: 3;
				height: 16px;
				width: 27px;
			}
			span {
				padding-left: 10px;
			}
		}
		&:first-child {
			border: none;
		}
		&:last-child {
			&:hover {
				ul {
					display: inline-block;
				}
			}
			ul {
				display: none;
				position: absolute;
				top: -170;
				right: 0;
				padding-left: 0;
				width: 300px;
				&:after {
					width: 25%;
					height: 25px;
					top: -25px;
					left: 75%;
					position: absolute;
					content: "";
				}
			li {
				padding: 10px;
				border: none;
				text-align: right;
				background-color: #f1f2f2;
				border-top: 1px solid grey;
				border-left: 1px solid grey;
				border-right: 1px solid grey;
				&:nth-child(even) {
					border-left: none;
				}
				&:nth-last-child(-n+2) {
					border-bottom: 1px solid grey;
				}
				&:nth-last-child(3) {
					border-bottom: 1px solid grey;
				}
				&:last-child {
					height: 200%;
					border-top: none;
				}
			}
			}
		}
	}
}
.input-group {
	border: 1px solid $bluedark;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 320px;
	&:hover {
		border: 1px solid $bluelight;
	}
	input {
		border-radius: 0;
		width: 300px;
		&:before {
			font-family: Font-Awesome;
		}
	}
	button {
		height: 140%;
		border-radius: 0;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		background-color: #0060c1;
		padding-left: 10px;
		padding-right: 10px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		&:hover {
			background-color: $bluelight;
		}
	}
}
}

/** ------------------------
**  STICKY NAV
**/

.clearfix {
margin-bottom: 0;
}
.sticky-nav {
background: $bluebrand;
position: relative;
}
.sticky-nav-row {
width: 1000px;
height: 49px;
margin-left: auto;
margin-right: auto;
}
.logo-li {
display: none;
border-left: none;
padding-top: 6px;
padding-bottom: 6px;
padding-right: 20px;
padding-left: 0;
.logo-wrapper {
	position: relative;
	top: -7;
	background-image: url('../../assets/images/snap-logo.png');
	background-size: cover;
	width: 70px;
	height: 33px;
}

}
.nav-menu {
ul {
	display: inline-block;
	padding-left: 0;
	border-left: 1px solid rgba(#fff, 0.3);
	border-right: 1px solid rgba(#fff, 0.3);
}
li {
	padding: 14px 10px;
	float: left;
	border-left: 1px solid $bluebevel;
	border-right: 1px solid rgba(#fff, 0.3);
	height: 49px;
	font-size: 15px;
	&:hover {
		&:nth-child(2) {
			.range-wrapper {
				display: inline-block;
			}
		}
		&:nth-child(3) {
			.goal-wrapper {
				display: inline-block;
			}
		}
		&:nth-child(4) {
			.sport-wrapper {
				display: inline-block;
			}
		}
		&:nth-child(5) {
			.zone-wrapper {
				display: inline-block;
			}
		}
	}
	&:first-child {

	}
	&:last-child {
		border-right: 1px solid $bluebevel;
	}
}
a {
	color: white;
	text-transform: uppercase;
	&:hover {
		text-decoration: none;
	}
}
}
.range-wrapper {
display: none;
position: absolute;
left: 0;
top: 49;
width: 98.75vw;
height: 335px;
background: #ededed;
z-index: 5;
}
.range-row {
margin-left: auto;
margin-right: auto;
padding-top: 15px;
padding-left: 10px;
width: 1000px;
a {
	color: #333;
	font-size: 14px;
	font-weight: 700;
	font-size: 12px;
	&:hover {
		text-decoration: none;
		color: $bluelight;
	}
}
h2,
h4 {
	margin: 12px 0;
	white-space: nowrap;
}
li {
	height: auto;
	width: 100%;
	display: block;
	border: none;
	padding: 0;
	text-transform: none;
	&:last-child {
		border: none;
	}
	a {
		text-transform: none;
		font-weight: 400;

	}
}
}
.goal-wrapper {
display: none;
position: absolute;
left: 0;
top: 49;
width: 98.75vw;
height: 150px;
background: #ededed;
z-index: 5;
}
.goal-row {
width: 1000px;
margin-left: auto;
margin-right: auto;
.num,
.text {
	display: inline-block;
	padding: 12px 16px;
	margin: 0;
	transition: background-color 0.3s ease-in-out;
}
li {
	border: none;
	margin-top: 17.5px;
	margin-right: 5%;
	width: 30%;
	padding: 0;
	float: left;
	&:last-child {
		border: none;
	}
	&:nth-child(3n) {
		margin-right: 0;
	}
	@for $i from 1 through length($goalcolors) {
		&:nth-child(#{$i}){
			.num {
			background-color: nth($goalcolors, $i);
			}
			.text {
				&:hover {
					background-color: nth($goalcolors, $i);
				}
			}
		}
	}
}
a {
	display: block;
}
}
.num {
height: 48px;
width: 52px;
font-size: 18px;
font-weight: 700;
background-color: $bluegoal;
position: relative;
text-align: center;
}
.text {
vertical-align: top;
background-color: #fff;
width: 247px;
height: 48px;
color: #728391;
font-size: 16px;
font-weight: 700;
&:hover {
	background-color: $bluegoal;
	color: #fff;
}
}
.sport-wrapper {
@extend .goal-wrapper;
}
.sport-row {
width: 1000px;
margin-left: auto;
margin-right: auto;
.num,
.text {
	display: inline-block;
	padding: 12px 16px;
	margin: 0;
	background-color: #fff;
	color: #728391;
	&:hover {
		color: $bluebrand;
	}
}
.text {
	width: 247px;
	border-left: 1px solid #ededed;
}
.num {
	width: 48px;
}
li {
	border: none;
	margin-top: 17.5px;
	margin-right: 5%;
	width: 30%;
	padding: 0;
	float: left;
	&:last-child {
		border: none;
	}
	&:nth-child(3n) {
		margin-right: 0;
	}
}
i {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 24px;
}
}
.zone-wrapper {
@extend .goal-wrapper;
}
.zone-row {
width: 1000px;
margin-left: auto;
margin-right: auto;
.num,
.text {
	display: inline-block;
	padding: 12px 16px;
	background-color: #fff;
	color: #728391;
	&:hover {
		color: $bluebrand;
	}
}
.text {
	width: 177px;
	border-left: 1px solid #ededed;
}
li {
	border: none;
	margin-top: 17.5px;
	margin-right: 2.5%;
	width: 23%;
	padding: 0;
	float: left;
	&:last-child {
		border: none;
	}
	&:nth-child(4n) {
		margin-right: 0;
	}
}
i {
	position: absolute;
	left: 0;
	right: 0;
	font-size: 24px;
}
}
.acc-menu {
float: right;
position: relative;
li {
	&:hover {
		&:nth-child(1) {
			.acc-wrapper {
				display: inline-block;
			}
		}
	}
}	
}
.acc-wrapper {
display: none;
width: 200px;
position: absolute;
top: 49;
right: 0;
padding: 20px 20px 8px;
box-shadow: 0 4px 6px rgba(50,50,50,.6);
background-color: #fff;
z-index: 5;
}
.acc-row {
position: relative;
font-size: 12px;
width: 100%;
a {
	color: $bluedark;
	font-size: 12px;
	text-transform: none;
	text-align: left;
	display: block;
	&:hover {
		color: $bluelight;
	}
}
span {
	text-align: left;
	float: left;
	margin: 10px 0;
}
ul {
	display: inline-block;
	padding-top: 10px;
	border-top: 1px solid black;
}
li {
	border: none;
	padding: 0;
	display: block;
	height: 20px;
	width: 100%;
	float: center;
	&:last-child {
		border: none;
	}
}

}
.btn-login {
a {
	display: block;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 8px;
	background-color: #e77e23;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	&:hover {
		color: #fff;
	}
}
}
.a-reg {
display: block;
float: right;
margin: 10px 0;
text-decoration: underline;
color: $bluelight;
}
.acc-menu {
i {
	font-size: 21px;
}
}
.acc-span,
.basket-span {
position: relative;
top: -3;
}

.sticky {
position:fixed;
top:0;
width: 100%;
margin-left: auto;
margin-right: auto;
z-index: 5;
.nav-main-ul,
.logo-li {
	display: inline-block;
	border-left: none;
}
.range-wrapper,
.goal-wrapper {
	top: 48;
}
.acc-wrapper {
	top: 48;
	//right: 390;
}
.acc-span {
	display: none;
}
}

/** ------------------------
**  QUAL NAV
**/

.qual-nav {
	background-color: #ededed;
	ul {
		padding: 10px 0 14px 0;;
		text-align: center;
	}
	li {
		display: inline-block;
		margin-right: 10px;
	}
	a {
		color: #495f73;
		&:hover {
			text-decoration: none;
			color: #7892aa;
		}
	}
	i {
		position: relative;
		top: 3;
		font-size: 21px;
	}
}
.countdown-wrapper {
	font-size: 16;
	font-weight: 700;
}
#c-hours,
#c-minutes,
#c-seconds {
	background-color: #495f73;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 0 4px;
}
#c-hours {
	margin-left: 10px;
}

/** ------------------------
**  PRODUCT CONTENT
**/

.main-product-content {
	height: 100px;
	margin-top: 48px;
}
.product-wrapper {
	width: 1000px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
}
.media-wrapper {
	border-top: 1px solid #f1f2f2;
	width: 330px;
	display: inline-block;
}
.image-wrapper {
	width: 300px;
}
.shaker-image {
	height: 300px;
	width: 300px;
	background-image: url("../../assets/images/shaker-bottle.jpg");
	background-size: cover;
}
.image-zoom-p {
	text-align: center;
	font-size: 16px;
}
#image-modal-wrapper {
	display: none;
	background-color: rgba(black, 0.3);
	height: 100vw;
	width: 100vw;
	position: absolute;
	top: 0;
}
.modal-image-container {
	height: 25%;
	width: 25%;
	margin: auto;
	margin-top: 10%;
	padding: 12px;
	background-color: #fff;
	background-image: url("../../assets/images/shaker-bottle-large.jpg");
	background-size: 100%; 
	box-shadow: 10px rgba(50,50,50,.6);
}
.modal-active {
	display: block !important;
}
.social-media-wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	float: left;
}
.product-info-wrapper {
	display: inline-block;
	float: right;
	width: 670px;
}
.product-info {
	padding: 0;
	border-top: 1px solid #f1f2f2;
	color: #495f73;
	h1 {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 700;
		margin-top: 12px;
	}
	h2 {
		font-size: 14px;
		margin-top: 0;
	}
}
.stars {
	display: inline-block;
	width: 136px;
	height: 21px;
	background-image: url("../../assets/images/stars.png");
	background-size: cover;
	margin-right: 10px;
}
.rating-wrapper {
	margin-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #f1f2f2;
}
.buy-product {
	width: 100%;
	background-color: #ededed;
	margin-top: 12px;
	padding: 24px 20px;
}
.price,
.quantity,
.add-to-basket {
	display: inline-block;
	h2 {
		margin: 0;
		font-size: 18px;
		font-weight: 700;
	}
	input {
		width: 25px;
		height: 25px;
	}
	a {
		padding: 11px 15px;
		color: white;
		background-color: #22be20;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
			background-color: #00ca00;
		}
	}
}
.add-to-basket {
	float: right;
}
.quantity {
	margin-left: 20%;;
}
.related-products {
	padding: 0;
	padding-left: 10px;
	h2 {
		margin: 0;
	}
}

.rprod-title {
font-size: 14px;
font-weight: 700;
color: #495f73;
padding: 12px 20px;
background-color: #ededed;
}

.rproduct-wrapper {
	height: 103px;
	width: 100%;
	padding-left: 10px;
	border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.rprod-image {
	height: 80%;
	background-image: url("../../assets/images/scoop.png");
	width: 33%;
	margin-right: 10px;
	a {
		height: 100%;
		width: 100%;
		
	}
}
.rprod-text {
	padding: 0;
	padding-top: 12px;
	a {
		margin-bottom: 3px;
	}
	h2 {
		padding-top: 10px;
		font-size: 16px;
		font-weight: 700;
	}
}
.rprod-rating {
	background-image: url("../../assets/images/stars.png");
	background-size: 100%;
	width: 100%;
	height: 18px;
}

//price beater
.price-beater {
	width: 1000px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #b7bfc6;
	h2 {
		display: inline-block;
		font-size: 16px;
		font-weight: 700;
		color: #495f73;
		background-color: #ededed;
		padding: 16px 10px;
		margin: 0;
	}
	p {
		display: inline-block;
		padding-left: 50px;
		padding-right: 24px;
		font-size: 13px;
	}
	a {
		font-size: 13px;
		font-weight: 600;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
}

//tabbed pane
.tab1,
.tab2 {
	display: none;
}
.tabs{
	width: 1000px;
	height: 250px;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #b7bfc6
}
.tab-title-wrapper {
	
}
.tab-title {
		display: inline-block;
		width: 50%;
		text-align: center;
		font-weight: 700;
		font-size: 16px;
		color: #728391;
		background-color: #f1f2f2;
	 	border: 1px solid #b7bfc6;
	 	border-top: none;
		float: left;
		padding: 12px;
		cursor: pointer;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			float: right;
			border-right: none;
		}
}
.tab {
	h2, 
	p {
		padding: 12px;
	}
}
.tab-text {
	width: 50%;
	float: left;
}
.tab-text-r {
	width: 50%;
	float: right;
}
.active {
	display: block;
	color: #495f73;
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

/** ------------------------
**  RECOMMENDED ITEMS
**/

.reco-wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 48px;
	padding: 12px;
	display: block;
	border: 1px solid #b7bfc6;
	color: #495f73;
	h2 {
		padding: 0;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		margin-top: 12px;
	}
}
.reco-item {
	display: inline-block;
	width: 16%;
	a {
		margin-top: 12px;
		margin-bottom: 12px;
		margin-left: 20%;
		color: #495f73;
		font-weight: 600;
		&:hover {
			text-decoration: none;
		}
	}
	h4 {
		text-align: center;
		font-size: 16px;
	}
}
.reco-image {
	background-image: url("../../assets/images/scoop.png");
	background-size: 100%;
	width: 70px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
.reco-rating {
	background-image: url("../../assets/images/stars.png");
	background-size: 100%;
	width: 60%;
	height: 50%;
	height: 18px;
	margin-left: auto;
	margin-right: auto;
}

/** ------------------------
 **  COMMENTS
 **/
.comments-reviews {
	padding: 48px 0;
	background-color: #f8f8f8;
}
.comments-wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #b7bfc6;
	padding: 24px 30px;
	background-color: #fff;
	h2 {
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		color: #495f73;
	}
}
.summary {
	width: 302px;
	display: inline-block;
	border: 1px solid #eee;
	h3 {
		text-align: center;
		color: #495f73;
		background-color: #ddd;
		font-weight: 700;
		font-size: 18px;
		padding: 24px 0;
		margin: 0;
		margin-bottom: 10px;
	}
}
.reviews {
	width: 605px;
	display: inline-block;
}
.star-summary {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	h4 {
		text-align: center;
		font-weight: 700;
		font-size: 42px;
		color: #495f73;
	}
	p {
		text-align: center;
	}
}
.rating-img {
	background-image: url("../../assets/images/stars.png");
	width: 48%;
	height: 1.5%;
	margin-left: auto;
	margin-right: auto;
}
.stars-details {
	background-image: url("../../assets/images/stars-details.png");
	width: 80%;
	height: 9%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}
.create-review {
	border-top: 1px solid #eee;
	padding: 24px;
	p {
		padding: 12px;
		font-size: 16px;
		text-align: center;
	}
	a {
		display: inline-block;
		text-align: center;
		padding: 12px;
		color: #fff;
		background-color: $bluebrand;
		text-transform: uppercase;
		font-size: 16px;
		margin-left: 17.5%;
		margin-right: 17.5%;;
		&:hover {
			background-color: $bluelight;
			text-decoration: none;
		}
	}
}
.reviews {
	vertical-align: top;
}
.showing,
.sortby {
	margin: 0;
	margin-bottom: 12px;
	display: inline-block;
	color: #728391;
	border: 1px solid #ddd;
	p,
	select {
		border: none;
		padding: 12px;
		margin-top: auto;
		display: inline-block;
	}
	p {
		width: 79%;
		margin-bottom: 0;
		margin-top: 3px;
		text-align: right;
	}
	select {
		width: 19%;
		background-color: #ddd; 
		color: #728391;
		font-size: 16px;
		font-weight: 700;
		float: right;
	}
}
.showing {
	float: left;
	width: 59%;
}
.sortby {
	float: right;
	width: 41%;
}
#sortby-p {
	width: 39%
}
#sortby-select {
	width: 59%;
}
.review-wrapper {
	height: 479px;
	width: 100%;
	overflow-Y: auto;
}
.review-item {
	padding: 12px;
	h3 {
		color: #495f73;
		font-size: 16px;
		font-weight: 700;
	}
	border-bottom: 1px solid #eee;
}
.overall {
	background-image: url("../../assets/images/stars.png");
	background-size: 100%;
	height: 22px;
	width: 136px;
	display: inline-block;
}
.overall-header {
	display: inline-block;
}
.secondary-stars {
	display: inline-block;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	h4 {
		font-size: 14px;
		display: inline-block;
	}
}
.stars-black {
	background-image: url("../../assets/images/stars-black.png");
	background-size: 100%;
	height: 12px;
	width: 72px;
	display: inline-block;
	margin-right: 24px;
}
.date {
	font-size: 16px;
	color: #d7d7d7;
	padding-top: 0;
}
.thumb {
	border: 1px solid #eee;
	padding: 12px;
	i {
		font-size: 22px;
	}
}
#thumb-green {
	color: green;
}
#thumb-red {
	color: red;
}
.review-thumbs {
	p {
		display: inline-block;
		color: #ddd;
	}
	a {
		color: #ddd;
		&:nth-child(2) {
			padding-right: 12px;
			border-right: 1px solid #eee;
			margin-right: 12px;
		}
	}
}
.review-text {
	margin-bottom: 20px;
}

/** ------------------------
 **  FOOTER
 **/
.footer {
	background-color: #303e4b;
}
.awards-wrapper {
	width: 100%;
	background-color: #495F73;//#495f73;
	padding-top: 24px;
	padding-bottom: 38px;
	ul {
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	li {
		display: inline-block;
		width: 19.5%;
	}
	p {
		color: #fff;
		text-align: center;
	}
}
.award-image {
	width: 100px;
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../../assets/images/award-image.png");
	background-size: cover;
}
.footer-links {
	width: 100%;
	background-color: #303e4b;
	padding: 22px;
}
.footer-link-titles,
.footer-links-text {
	width: 1000px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	li {
		display: inline-block;
		width: 16.3%;
	}
}
.footer-link-titles {
	padding-bottom: 16px;
	a {
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}
.links-li {
	ul {
		padding: 0;
	}
	li {
		display: block;
		width: 100%;
		margin-bottom: 7px;
	}
	a {
		color: #b7bfc6;
		font-size: 12px;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}
}
.inline {
	vertical-align: top;
	ul {
		margin-bottom: 5px;
	}
	li {
		display: inline;
		margin-left: auto;
		margin-right: auto;
	}
	i {
		font-size: 19px;
		padding: 5px;
	}
	&:last-child {
		li {
			background-color: #303e4b;
		}
		i {
			font-size: 14px;
			color: rgba(#fff, 0.3);
			border: 1px solid rgba(#fff, 0.3);
			padding: 2px 9px;
		}
	}
}
.social-link {
	color: #303e4b;
}
.social-wrap {
	height: 27px;
	width: 27px;
	display: inline-block;
	background-color: #b7bfc6;
	i {
		color: #303e4b;
		&:hover {
			color: #fff;
		}
	}
}
.media-fb:hover {
	background-color: blue;
}
.media-tw:hover {
	background-color: #00ffff;
}
.media-gp:hover,
.media-yt:hover {
	background-color: red;
}
.media-in:hover {
	background-color: purple;
}
.copyright {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: #728391;
	font-size: 12px;
	border-top: 1px #293540 solid;
	padding-top: 12px;
	padding-bottom: 20px;
	p {
		display: inline-block;
		width: 85%;
	}
}
.hutgroup-logo-wrap {
	background-image: url("../../assets/images/hutgroup-logo.png");
	background-size: 100%;
	width: 14%;
	height: 15px;
	display: inline-block;
	vertical-align: top;
}
.masterpass {
	float: right;
	a {
		display: inline-block;
		color: #b7bfc6;
		text-decoration: underline;
		padding-top: 8px;
		padding-left: 20px;
		vertical-align: top;
		&:hover {
			color: #fff;
		}
	}
}
.masterpass-image {
	background-image: url("../../assets/images/masterpass-logo.png");
	background-size: 100%;
	width: 121px;
	height: 33px;
	display: inline-block;
}